.App-container {
  background: url(../../assets/meadow-1.jpg);
}

.favorites {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
}

  .plant-card {
    margin-top: 10px;
  }