.favorites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;

  /* margin: 1em;
  grid-gap: 35px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
}