.favorites {
  //display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
  background: url(../../assets/sky-2.jpg);
}

  .plant-card {
    margin-top: 10px;
  }