.plant-card {
  height: 170px;
  width: 300px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid neon;
  background-color: chartreuse;
  border-radius: 5px;
  padding-bottom: 10em;
  box-shadow: 10px 10px 10px 0 rgba(14, 37, 1, 0.13);
}

.plant-card-image {
  height: auto;
  max-height: 150px;
  width: auto;
  min-width: 200px;
  min-height: 150px;
  max-width: 200px; 
  align-items: center;
  padding-bottom: 1px;
  margin: 1em;
}

.unfav {
  height: 50px;
}

.active:hover {
  background-color: magenta;
  color: yellow;
  border: solid 1px magenta;
  box-shadow: 2px 2px 2px whitesmoke;
}

.common-name {
text-align: center;
font-size: 18px;
}

.sci-name {
  text-align: center;
  font-size: 13px;
}

