/* .img {
  display: flex;
  height: 25em;
  width: 25em;
} */


.plant-card-image {
  height: 10em;
  width: 10em;
  /* border: solid 1px black; */
  padding: 2em;
  margin: 2em;

}


.plant-card {
  height: 30em;
  width: 30em;
  margin: 1em;
  border: 1px solid;
}
  /* grid-gap: 35 px; */
  /* height: 100 %; */
  /* width: 20em;
  grid-template-columns: repeat(auto - fit, minmax(250 px, 1 fr));
  background: chartreuse; */
.on {
  color: pink;
}
  .common-name {
  text-align: center;
}

.sci-name {
  text-align: center;
}

.add-button {
  margin-left: 5em;
  height: 2em;
  width: 5em;
}
